<div class="container">
  <!-- <h4 class="first">Price: {{ price }}</h4> -->
  <!-- <span class="startyear">{{minPrice}}</span>
  <p-slider id="priceSlider" (onSlideEnd)="onPriceChange($event)" [(ngModel)]="price" [min]="minPrice" [max]="maxPrice" ></p-slider>
  <span class="endyear">{{maxPrice}}</span> -->
  <!-- <div class="row">
    <div class="col-md-1">
        {{minPrice}}
    </div>
    <div class="col-md-9">
        <p-slider id="priceSlider" (onSlideEnd)="onPriceChange($event)" [(ngModel)]="price" [min]="minPrice" [max]="maxPrice" ></p-slider>
    </div>
    <div class="col-md-2">
        {{maxPrice}}
    </div>
  </div> -->
<div *ngIf="hasData===true">
  <div class="row">
      <div class="ui-g-12 ui-md-1">
          <b class="pull-right"><i> Min Price {{minPrice}} </i></b>
        </div>
       <div class="ui-g-12 ui-md-10" style="margin-top:25px;">
                <p-slider   (onSlideEnd)="onPriceChange($event)" [(ngModel)]="price"  [min]="minPrice" [max]="maxPrice" [animate]="true">
                </p-slider>
        </div>
        <div class="ui-g-12 ui-md-1">
            <b class="pull-left"><i>Max Price {{maxPrice}} </i></b>
  </div>
</div>
<hr>
</div>
  <div class="row">
      <div class="ui-g-12 ui-md-12">
  <p-fieldset [legend]="caption">
    <p-table [columns]="cols"  [value]="coupons" selectionMode="single" [paginator]="true" [rows]="10" [resizableColumns]="true">
      <ng-template pTemplate="caption">
        {{ numOfCoupons }} Listed Coupons
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols" [pSortableColumn]="col.field" pResizableColumn>
            {{ col.displayName }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              <span *ngIf="col.field!=='startDate' && col.field!=='endDate'" >{{rowData[col.field]}}</span>
              <span *ngIf="col.field==='startDate' || col.field==='endDate'" >{{rowData[col.field]|date:'dd/MM/yyyy'}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</div>
</div>
</div>

<!-- <div *ngIf="hasData!==true">
    <div class="alert alert-info" style="text-align: center">
        <strong>There aren't any coupons in the system</strong>
      </div>
</div> -->
